
.divFontClass{
    padding: 20px;
    border: solid red 5px;
    margin: 10px;
    width: 120px;
    height: 150px;
    float: left;
    font-size: 10px;
    border-radius: 70%;
}
.pFontClass1{
    padding: 20px;
    border: solid yellow 5px;
    margin: 10px;
    width: 120px;
    height: 150px;
    float: left;
    font-size: 10px;
    border-radius: 70%;
    

}
.pFontClass2{
    padding: 20px;
    border: solid blue 5px;
    margin: 10px;
    width: 120px;
    height: 150px;
    float: left;
    font-size: 10px;
    border-radius: 70%;

}