<div>

    <form #tasRef="ngForm" (ngSubmit)="storeUser(tasRef.value)">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="text" name="id" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput type="text" name="task" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>DeadLine</mat-label>
            <input matInput type="text" name="deadline" ngModel/>
        </mat-form-field>
        <br/>
        <button mat-stroked-button color="primary" style="background-color: red;" type="submit">Store</button>
    </form>
</div>
