h1{
    background-color:yellow;
    padding-left: 550px;
    padding-right: 60px;
}
body{
	margin:0;
	background-color: #efefef;
}
header {
	font-size: 20px;
	background-color: black;
	color: #cccccc;
	height: 75px;
}